[Desktop Entry]
Type=Application
Name=Cura-by-dagoma-Explorer350
Comment=Cura-by-dagoma-Explorer350
Icon=/usr/share/icons/curabydago/curabydago-explorer350.ico
Exec=/usr/bin/python2.7 /usr/share/curabydago-explorer350/cura.py
Path=/usr/share/curabydago-explorer350/
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;
