/MAC_resources
/plugins
/resources/images/cura.ico
/resources/meshes
/resources/XML
/resources/cura.icns
/resources/cura.ico
/scripts
/Power
/CuraEngine
Cura-Cura-by-Dagoma-*
Cura-by-Dagoma-*
Cura_by_Dagoma_*
*.pyc
Install_Cura_by_Dagoma*
log.txt
output.txt
DmgTemplateCompressed_*.dmg
DmgTemplateCompressed-*.dmg
*.DS_Store
*.sparseimage
