/scripts/darwin/build
/scripts/darwin/dist
/scripts/linux/archive*
/scripts/linux/debian*
/scripts/win32/dist
/scripts/windows/dist
/scripts/clear_comtypes_cache.py
/CuraEngine
Cura-Cura-by-Dagoma*
Cura-by-Dagoma*
Cura_by_Dagoma*
CuraByDagoma*
*.pyc
Install_Cura_by_Dagoma*
log.txt
output.txt
DmgTemplateCompressed_*.dmg
DmgTemplateCompressed-*.dmg
*.DS_Store
*.sparseimage
/*.exe
*.zip
/$_OUTDIR
/PURELIB
/Win32
/VideoCapture-0.9-5
/packages
/venv
/settings.json
/CuraEngineRepo
/build
.eggs