Package: curabydagoma
Source: Dagoma
Version: <BUILD_VERSION>
Section: misc
Priority: optional
Architecture: <BUILD_ARCHITECTURE>
Essential: no
Depends: python2.7, python-wxgtk2.8 | python-wxgtk3.0, python-opengl, python-serial, python-numpy
Maintainer: Orel <orel@dagoma.fr>
Provides: curabydagoma
Installed-Size: 19700
Description: CuraByDagoma is a fork of Legacy Cura made by Dagoma for its own printers.
