Package: curabydagoma
Source: Dagoma
Version: <BUILD_VERSION>
Section: misc
Priority: optional
Architecture: <BUILD_ARCHITECTURE>
Essential: no
Depends: python3, python3-wxgtk4.0, python3-opengl, python3-serial, python3-numpy
Maintainer: Orel <orel@dagoma.fr>
Provides: curabydagoma
Installed-Size: 19700
Description: CuraByDagoma is a fork of Legacy Cura made by Dagoma for its own printers.
