Package: curabydago-explorer350
Source: Dagoma
Version: 1.0.7
Section: misc
Priority: optional
Architecture: i386
Essential: no
Depends: python2.7, python-wxgtk2.8 | python-wxgtk3.0, python-opengl, python-serial, python-numpy
Maintainer: Orel <orel@dagoma.fr>
Provides: curabydago-explorer350
Installed-Size: 26200
Description: CuraByDagoma Explorer350 is a fork of Legacy Cura made by Dagoma for the Explorer350 printer.
