[Desktop Entry]
Type=Application
Name=Cura-by-dagoma-#machine_name#
Comment=Cura-by-dagoma-#machine_name#
Icon=/usr/share/curabydago-#machine_name_lowercase#/resources/images/cura.ico
Exec=/usr/bin/python2.7 /usr/share/curabydago-#machine_name_lowercase#/cura.py
Path=/usr/share/curabydago-#machine_name_lowercase#/
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;
