[Desktop Entry]
Type=Application
Name=Cura-by-dagoma-Easy200
Comment=Cura-by-dagoma-Easy200
Icon=curabydago
Exec=usr/bin/python2.7 usr/share/cura/cura.py
Path=usr/share/cura/
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;
