Package: curabydago
Version: 1.0.4
Section: misc
Priority: optional
Architecture: amd64
Essential: no
Depends: python2.7, python-wxgtk3.0, python-opengl, python-serial, python-numpy
Maintainer: Orel <orel@dagoma.com>
Provides: curabydago
Installed-Size: 10000
Description: CuraByDagoma is a fork of Cura made by Dagoma.
